In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings("ignore")

# Baseline modeling pt.1

First, let's look at our data.

In [2]:
train = pd.read_csv('C:/datasets/train_sales.csv')
test = pd.read_csv('C:/datasets/test_sales.csv')

In [3]:
train.head()

,Unnamed: 0,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,shop_name,item_name,item_category_id,item_category_name,year,month,day,year-month,location,shop_type,item_category,subcat
0,0,2013-01-02,0,59,22154,999.00,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray,2013,1,2,2013-01,Ярославль,ТЦ,Кино,Blu-Ray
1,1,2013-01-03,0,25,2552,899.00,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE The House Of Blue Light LP,58,Музыка - Винил,2013,1,3,2013-01,Москва,ТРК,Музыка,Винил
2,3,2013-01-06,0,25,2554,1709.05,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE Who Do You Think We Are LP,58,Музыка - Винил,2013,1,6,2013-01,Москва,ТРК,Музыка,Винил
3,4,2013-01-15,0,25,2555,1099.00,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56,Музыка - CD фирменного производства,2013,1,15,2013-01,Москва,ТРК,Музыка,CD фирменного производства
4,5,2013-01-10,0,25,2564,349.00,1.0,"Москва ТРК ""Атриум""",DEEP PURPLE Perihelion: Live In Concert DVD (К...,59,Музыка - Музыкальное видео,2013,1,10,2013-01,Москва,ТРК,Музыка,Музыкальное видео

We have a lot of categorical info. Since label encoding will kinda randomize the distribution we can also try mean encoding.

In [ ]:
##label encoder

In [4]:
#shop_name
train["loc_cd"] = LabelEncoder().fit_transform(train["location"])
train["shop_type_cd"] = LabelEncoder().fit_transform(train["shop_type"])
train.drop(["location"], axis=1, inplace=True)
train.drop(["shop_type"], axis=1, inplace=True)
train.drop(["shop_name"], axis=1, inplace=True)

#item
train["item_cat_cd"] = LabelEncoder().fit_transform(train["item_category"])
train["subcat_cd"] = LabelEncoder().fit_transform(train["subcat"])
train.drop(["item_category"], axis=1, inplace=True)
train.drop(["subcat"], axis=1, inplace=True)
train.drop(["item_category_name"], axis=1, inplace=True)

In [5]:
#shop_name
test["loc_cd"] = LabelEncoder().fit_transform(test["location"])
test["shop_type_cd"] = LabelEncoder().fit_transform(test["shop_type"])
test.drop(["location"], axis=1, inplace=True)
test.drop(["shop_type"], axis=1, inplace=True)
test.drop(["shop_name"], axis=1, inplace=True)

#item
test["item_cat_cd"] = LabelEncoder().fit_transform(test["item_category"])
test["subcat_cd"] = LabelEncoder().fit_transform(test["subcat"])
test.drop(["item_category"], axis=1, inplace=True)
test.drop(["subcat"], axis=1, inplace=True)
test.drop(["item_category_name"], axis=1, inplace=True)

In [ ]:
##Mean encoder

In [5]:
''''
#shop_name
Mean_encoded_loc = train.groupby(['location'])['item_cnt_day'].mean().to_dict()
train['loc_cd'] =  train['location'].map(Mean_encoded_loc)
Mean_encoded_shop = train.groupby(['shop_type'])['item_cnt_day'].mean().to_dict()
train['shop_type_cd'] =  train['shop_type'].map(Mean_encoded_shop)
train.drop(["location"], axis=1, inplace=True)
train.drop(["shop_type"], axis=1, inplace=True)
train.drop(["shop_name"], axis=1, inplace=True)

#item
Mean_encoded_cat= train.groupby(['item_category'])['item_cnt_day'].mean().to_dict()
train['item_cat_cd'] =  train['item_category'].map(Mean_encoded_cat)
Mean_encoded_subcat = train.groupby(['subcat'])['item_cnt_day'].mean().to_dict()
train['subcat_cd'] =  train['subcat'].map(Mean_encoded_subcat)
train.drop(["item_category"], axis=1, inplace=True)
train.drop(["subcat"], axis=1, inplace=True)
train.drop(["item_category_name"], axis=1, inplace=True)

In [6]:
''''
##??????
#shop_name
test['item_cnt_day'] =0
Mean_encoded_loc = test.groupby(['location'])['item_cnt_day'].mean().to_dict()
test['loc_cd'] =  test['location'].map(Mean_encoded_loc)
Mean_encoded_shop = test.groupby(['shop_type'])['item_cnt_day'].mean().to_dict()
test['shop_type_cd'] =  test['shop_type'].map(Mean_encoded_shop)
test.drop(["location"], axis=1, inplace=True)
test.drop(["shop_type"], axis=1, inplace=True)
test.drop(["shop_name"], axis=1, inplace=True)

#item
Mean_encoded_cat= test.groupby(['item_category'])['item_cnt_day'].mean().to_dict()
test['item_cat_cd'] =  test['item_category'].map(Mean_encoded_cat)
Mean_encoded_subcat = test.groupby(['subcat'])['item_cnt_day'].mean().to_dict()
test['subcat_cd'] =  test['subcat'].map(Mean_encoded_subcat)
test.drop(["item_category"], axis=1, inplace=True)
test.drop(["subcat"], axis=1, inplace=True)
test.drop(["item_category_name"], axis=1, inplace=True)

Since there're a lot of unique names in item category and shop name and we already have corresponding values we will simply drop them.

In [6]:
train.drop(["item_name"], axis=1, inplace=True)

In [7]:
test.drop(["item_name"], axis=1, inplace=True)

We need to group data by month and shops.

In [8]:
train_ds = train.groupby(['date_block_num', 'loc_cd','shop_type_cd','shop_id','item_category_id','item_cat_cd', 'subcat_cd','item_id',]).agg({'item_cnt_day':'sum','item_price':'mean'}).reset_index()
train_ds.columns = ['date_block_num', 'loc_cd','shop_type_cd','shop_id','item_category_id','item_cat_cd','subcat_cd','item_id','item_cnt_monthly','mean_item_price']

In [9]:
train_ds.head()

,date_block_num,loc_cd,shop_type_cd,shop_id,item_category_id,item_cat_cd,subcat_cd,item_id,item_cnt_monthly,mean_item_price
0,0,0,5,2,2,1,12,5572,9.0,1532.857143
1,0,0,5,2,2,1,12,5573,2.0,924.000000
2,0,0,5,2,2,1,12,5575,4.0,955.005000
3,0,0,5,2,2,1,12,5576,3.0,2490.000000
4,0,0,5,2,2,1,12,5632,1.0,2390.000000

### Feature generation

**This one will go as an independent module lately.**

In [10]:
def label_encode_data(data):
    
    #shop_name
    data["loc_cd"] = LabelEncoder().fit_transform(data["location"])
    data["shop_type_cd"] = LabelEncoder().fit_transform(data["shop_type"])
    data.drop(["location"], axis=1, inplace=True)
    data.drop(["shop_type"], axis=1, inplace=True)
    data.drop(["shop_name"], axis=1, inplace=True)

    #item
    data["item_cat_cd"] = LabelEncoder().fit_transform(data["item_category"])
    data["subcat_cd"] = LabelEncoder().fit_transform(data["subcat"])
    data.drop(["item_category"], axis=1, inplace=True)
    data.drop(["subcat"], axis=1, inplace=True)
    data.drop(["item_category_name"], axis=1, inplace=True)
    data.drop(["item_name"], axis=1, inplace=True)
    
    return data

def novelty_feature(data):
    
    #novelty
    min_values = data.groupby("item_id")["date_block_num"].min().reset_index()
    min_values.columns = ['item_id','first_sales_date_block']
    data = pd.merge(data, min_values, on='item_id', how = 'left')
    
    return data

def lag_features(df, lags, col_list):
    
    for col_name in col_list:
        tmp = df[["date_block_num", "shop_id", "item_id", col_name]]
        for i in lags:
            shifted = tmp.copy()
            shifted.columns = [
                "date_block_num",
                "shop_id",
                "item_id",
                col_name + "_lag_" + str(i),
            ]
            shifted["date_block_num"] += i
            df = pd.merge(
                df, shifted, on=["date_block_num", "shop_id", "item_id"], how="left"
            )
    return df

def last_halfyear_feathure(train_ds):
#last 6 month average of sales
    train_ds["last_6month_cnt"] = train_ds[["item_cnt_monthly_lag_1", "item_cnt_monthly_lag_2", "item_cnt_monthly_lag_3", "item_cnt_monthly_lag_4", "item_cnt_monthly_lag_5","item_cnt_monthly_lag_6"]].mean(skipna=True, axis=1)
    train_ds["last_6month_price"] = train_ds[["mean_item_price_lag_1", "mean_item_price_lag_2", "mean_item_price_lag_3", "mean_item_price_lag_4", "mean_item_price_lag_5","mean_item_price_lag_6"]].mean(skipna=True, axis=1)
    
    return train_ds

In [11]:
def primary_data_for_modeling(data, first_encounter=False):
    
    train_ds = novelty_feature(data)
    train_ds = lag_features(train_ds, [1, 2, 3, 4, 5, 6, 12], ["item_cnt_monthly"])
    train_ds.fillna(0, inplace=True)
    
    return train_ds

## Data splits

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import math
from sklearn.metrics import mean_squared_error as mse

def LR_model(x_train, y_train, x_val, y_val):
    prob_model = LinearRegression().fit(x_train, y_train)
    print("RMSE on train: ",math.sqrt(mse(y_train, prob_model.predict(x_train))))
    y_pred = prob_model.predict(x_val)
    print("RMSE on validation: ", math.sqrt(mse(y_val,y_pred)))

Let's create function with cross-validation. Some model which we will teach on the created splits and dataframe which will be used for creation of the splits itself are going to be taken for parameters.

In [12]:
def cross_validation_for_ts(model, data, month):
    
    #first_month = month
    
    if month>=data.date_block_num.max():
        print("Cannot be splited")
        
    elif month<=data.date_block_num.min():
        print("Cannot be splited")
    #print(data[data.date_block_num==month][-1:].index[0])
    else:
        while True:
            train_ds = data[:(data[data.date_block_num==month][-1:].index[0]+1)]
            if (month+1)<=data.date_block_num.max():
                test_ds = data[(data[data.date_block_num==month][-1:].index[0]+1):(data[data.date_block_num==(month+1)][-1:].index[0]+1)]
            else:
                test_ds = data[(data[data.date_block_num==month][-1:].index[0]+1):]
            ##feature gen.
            train_ds = primary_data_for_modeling(train_ds)
            test_ds = primary_data_for_modeling(test_ds)
            
            #print("Train set first and last indexes:", train_ds[0:].index[0],"-", train_ds[-1:].index[0])
            #print("Test set first and last indexes:", test_ds[0:].index[0],"-", test_ds[-1:].index[0])
            x_train = train_ds.drop(['item_cnt_monthly'],axis=1)
            y_train = train_ds["item_cnt_monthly"]
            x_val = test_ds.drop(['item_cnt_monthly'],axis=1)
            y_val = test_ds["item_cnt_monthly"]
            print("Months of train:", (train_ds.date_block_num.unique()))
            print("Months of test:", (test_ds.date_block_num.unique()))
            model(x_train, y_train, x_val, y_val)
            print('-'*100)

            month+=1
            
            if month>=data.date_block_num.max():
                break

In [14]:
cross_validation_for_ts(LR_model, train_ds, 28)

Months of train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28]
Months of test: [29]
RMSE on train:  5.703507765038335
RMSE on validation:  5.881238028142668
----------------------------------------------------------------------------------------------------
Months of train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]
Months of test: [30]
RMSE on train:  5.670537633356675
RMSE on validation:  5.30262283244995
----------------------------------------------------------------------------------------------------
Months of train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30]
Months of test: [31]
RMSE on train:  5.620660500564432
RMSE on validation:  5.357661373078411
----------------------------------------------------------------------------------------------------
Months of train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31]
Months of test: [32]
RMSE on train:  5.576063821893591
RMSE on validation:  18.465050200490584
----------------------------------------------------------------------------------------------------
Months of train: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32]
Months of test: [33]
RMSE on train:  6.005148492498191
RMSE on validation:  7.12734521821134
----------------------------------------------------------------------------------------------------